bin/lib/release/*
bin/lib/debug/*
*.dbg
*.lps
*.dylib
bin
*/cc
*/font
*/list
*/resource
*/music
*/sound
*/save
*/movie
*.o
*.a
*.exe
*.7z
*.zip
*.tar.gz

sfeu16
*.dll
UPedit/lua.txt
trans50/*/*/*.lua
*.mp3
*.wav
trans50/event
trans50/event50
trans50/event50r
